#{extends 'main.html' /} 
#{set title:'Home' /}

<div class="start-header">
	<h1>Logga in på Klarlistan</h1>
</div>

<div id="login-form" class="login-form">

    #{if flash.success}
	<div class="success">&{flash.success}</div>
	#{/if} 
	
	#{form @Secure.authenticate()}

	<table class="form-table">
		<tr>
			<td> <label for="username">Email</label> </td>
			<td><input class="input-onBlur" type="text" name="username" id="username" value="${flash.username}" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'" /></td>
		</tr>
		<tr>
			<td><label for="password">Lösenord</label></td>
			<td><input class="input-onBlur" type="password" name="password" id="password" value="" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'"/></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="checkbox" name="remember" id="remember" value="true"
        ${flash.remember ? 'checked="true" ' : ''} /> <label for="remember">&{'secure.remember'}</label>

			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td class="submit"><input type="submit" id="signin" value="&{'secure.signin'}" /></td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td><a href="#">Glömt bort lösenordet?</a></td>
		</tr>

	</table>
	#{/form}
</div>










