/* Small text - 0.875em (14px)
     Large text - 1.125em (18px)
    Regular - 1em (16px)
	
	ljusblÃ¥ - #36ACCE
	grÃ¶n original - #690
	
	ny grÃ¶n - #9BBB38
	orange - #E58712
	ljusgrÃ¥ - #E8E8CE
	
	ny logoblÃ¥ #6BB0F6
	ny mÃ¶rkblÃ¥ #4B79AC
	ny ljusrÃ¶d #F68E6B
	ny ljusgul #F6D06B
	ny grön: #5aac4b
*/
/* Neutralize styling: 
   Elements we want to clean out entirely: */
html, body, form, fieldset {
	margin: 0;
	padding: 0;
	font: 95%/120% "Lucida Grande", verdana, arial, helvetica, sans-serif;	
}

/* Neutralize styling: 
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
	margin: 0 0;
	padding: 0;
}

/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {
	margin-left: 1em;
}

/* Form field text-scaling */
input, select, textarea {
	font: 100%/120% "Lucida Grande", verdana, arial, helvetica, sans-serif;		
}

body {
  margin: 0 auto;
  padding: 0;
  color: #333;
  background: #6BB0F6 url(../images/klarbodybg.png) repeat-x; 
  /*background-color: #6BB0F6;*/
/*  text-align: center; 
  background-image: url(../images/bgbody.jpg);
  background-position: center;
  background-repeat: repeat-y;*/
}
.list-line-odd td {
	background-color: #ebebeb;
	font-size: smaller;
}
.list-line-even td {
	background-color: #fefefe;
	font-size: smaller;
}
.friend-list-line-odd {
	background-color: #ebebeb;       
	font-size: normal;
}
.friend-list-line-even {     
	font-size: normal;
	background-color: #fefefe;        
}
.list-line-inactive td {
	background-color: #ddd;
	font-size: smaller;	
	text-decoration: line-through;
}

a:link { color: #6BB0F6; }
a:visited { color: #6BB0F6; }
a:hover { color: #fff; background-color: #6BB0F6; text-decoration: none; }
a {text-decoration: underline; padding: 1px; }

.hidden {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	color: #4B79AC; 
}
h1 {
    font-size: large;
}

h2 {
	font-size: 1em;
/*	color: #E58712;
	margin: 0.25em 0;*/
}

.list-tags {
	font-size: 0.75em;
    font-weight: normal;

}
.list-friends {

}
.list-tags-friend {
	font-size: 0.75em;
    font-weight: normal;
	vertical-align: middle;
}
.list-tags-friend-form {
	font-size: 1.4em;	
}
.list-tags-friend-to-add {
	font-size: 1em;
    font-weight: normal;
	vertical-align: middle;
	margin-left: 5px;	
}

.list-tags-friend-to-add a:link { color: #36ACCE; }
.list-tags-friend-to-add a:visited { color: #36ACCE; }
.list-tags-friend-to-add a:hover { color: #fff; background-color: #36ACCE; text-decoration: none; }
.list-tags-friend-to-add a {text-decoration: underline; padding: 1px; }


.editlinks a:link { color: #E58712; }
.editlinks a:visited { color: #E58712; }
.editlinks a:hover { color: #fff; background-color: #E58712; text-decoration: none; }
.editlinks a {text-decoration: underline; padding: 1px; }

.selected {
	background-color: #E8E8CE;
}

.verysmall {
	font-size: 0.75em;
    font-weight: normal;
	vertical-align: middle;
	display: inline;
}
.smaller {
	font-size: 0.875em;
}
.test {
	border: 1px solid red;	
}
.past {
/*	color: #bbb;*/
	text-decoration: line-through;	
}
#notice {
    width: 100%;
    text-align: center;
    color: red;
}
.start-header {
	text-align: center;	
	width: 50%;
	margin: 0 auto;
}
div.account {
	padding: 0px 20px 0px 20px;
}
div.login-form {
	margin:0 auto;
	background-color: #fff;	
	text-align: center;
	padding: 20px 0px 20px 0px;
}
div.login-form label {
	margin: 0px;
	font-size: larger;	
}
div.login-form input[type="text"] {
	font-size: larger;
	padding: 5px;	
}
div.login-form input[type="password"] {
	font-size: larger;
	padding: 5px;
}
div.login-form input[type="submit"] {
	font-size: larger;
	padding: 5px;	
}
.in_place_editor_field {
    font-size: larger;
}
.form-table {
	text-align: center;
	margin: 0 auto;
}
.form-table td {
	text-align: left;
	vertical-align: middle;	
	padding: 5px 5px 5px 5px;
}
.form-table td.submit {
	text-align: left;
	padding-top: 10px;
}
.input-onFocus {
	border: 1px #6BB0F6 solid; 	
	background: white url(../images/fields.png) repeat-x;		
}
.input-onBlur {
	border: 1px #929292 solid;
	background: white url(../images/fields1.png) repeat-x;	
}
div.signup-form label {
	margin: 0px;
	font-size: larger;	
}
div.signup-form input {
	font-size: larger;
	padding: 5px;	
}
div.signup-form {
	margin:0 auto;
	background-color: #fff;	
	text-align: center;
	padding: 20px 0px 20px 0px;	
}
div.forgot-form label {
	margin: 0px;
	font-size: larger;	
}
div.forgot-form input {
	font-size: larger;
	padding: 5px;	
}

.list-table {
	text-align: center;
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
}

.list-table th {
	text-align: center;
	vertical-align: middle;	
	padding: 5px 5px 5px 5px;
}
.list-table td {
	text-align: center;
	vertical-align: middle;	
	padding: 5px 5px 5px 5px;
}

div.activity {
	text-align: center;	
	width: 80%;
	margin: 0 auto;
}

div#search-users-form label {
	float: left;
	text-align: left;
	width: 125px;
	margin: 5px;
}
/*
div.add-activity-form fieldset {
	border: 10px #ccc solid;
	padding: 20px;
	width: 80%;	
	text-align: left;
}
div.add-activity-form legend {
	padding: 5px 20px 5px 20px;
	font-weight: bold; 
	text-align: center;
	color: #fff;
	background-color: #9BBB38;	
}*/
div.add-activity-form {
	margin:0 auto;
	background-color: #fff;	
	text-align: center;
}
div.add-activity-form label {
	margin: 0px;
	font-size: larger;	
}
div.add-activity-form input {
	font-size: larger;
	padding: 5px;	
}
div.add-activity-form select {
	font-size: larger;	
}
div.add-activity-form textarea {
	font-size: larger;
	padding: 5px;	
}

div.error-box {
	border: 2px red solid;
	text-align: center;	
	width: 50%;
	margin: 0 auto;
}
.fieldWithErrors {
	border-right: 3px red solid;
}

div#container {
  margin: 0 auto;
/*  text-align: center; */
  width: 776px;

}
div#padding {
	height: 20px;
}
div#wrapper {
	
		background-color: #ebebeb;
	/*  min-width: 1050px;*/
		border: 1px #929292 solid;
}
/* Main Navigation */
div#header {
	background-color: #ebebeb;
	padding: 10px 0px 10px 0px;
}

div#logo {
	text-align: center;
	margin: 0 auto;
	color: #343434;
/*	font-size: 4em;
	line-height: 1.25em;*/
	font-weight: bold;
	width: 367px;
        padding-bottom: 10px;
}
div#logo a {text-decoration: none; }
div#logo a:link { color: #ebebeb; }
div#logo a:visited { color: #ebebeb; }
div#logo a:hover { color: #ebebeb; background-color: #ebebeb; text-decoration: none; }

div#logo img {
	border: 0px #828282 solid;	
}

div#top-navigation {
/*	color: #fff;	
	text-align: right;
	padding-right: 30px;	
	font-weight: normal;*/
	
    float:left;
    width: 100%;
    line-height: normal;
	background: #ebebeb url("../images/bgmeny.jpg") repeat-x bottom;	
}
div#top-navigation ul {
    margin:0;
	padding:0px 10px 0;
    list-style:none;
    }
div#top-navigation li {
    float:left;
    margin:0;
    padding:0;
    }
	
div#top-navigation #current a {
    color: #333; 
	background-color: #fff; 
	text-decoration: none; 
	padding-bottom: 5px; 
	border-top: 1px #929292 solid;
	border-left: 1px #929292 solid;
	border-right: 1px #929292 solid;
    }	

div#top-navigation a {
	text-decoration: none; 
	display: block; 
	padding: 5px 10px 5px;
	float: left;
	font-weight: bold;
	}
	
/* Commented Backslash Hack
    hides rule from IE5-Mac \*/
div#top-navigation a {float: none;}
/* End IE5-Mac hack */

div#top-navigation a:link { color: #929292; }
div#top-navigation a:visited { color: #929292; }
div#top-navigation a:hover { color: #929292; background-color: #343434; text-decoration: none; }

#sidebar {
	float: left;
	width: 150px;
	line-height: 1.125em;
}

#sidebar .padding {
	padding: 25px;
}

#content {
/*	margin-right: 150px; */
	text-align: left;
	border-bottom: 1px #929292 solid;
	padding:5px 0px 10px 0px;
    clear: both;
	background-color: #fff;
	width: 100%;	
}


#content-right {
	float: left;
    /*width: 400px; */
	text-align: left;
	border: 1px solid #ccc;
	width: 40%;		
}

#content-mid {
    float: left;
    /*width: 350px;*/
    border: 1px solid #ccc;
}
    
#content-left {
	float: left;
	width: 20%;		
}
#news {
	text-align: left;	
	width: 75%;
	margin: 0 auto;
}
#news ul {
	margin:0;
	padding:0;
        list-style-type: none;
}
#news li {
      margin:0;
      padding:3px;
}
#friends-left {
	float: left;
	text-align: left;	
	width: 48%;
        padding-left: 10px;        	
}
#friends-right {
	float: left;
        padding-left: 10px;
    /*width: 400px; */
	text-align: left;
	width: 48%;		
}

#activity-list ul {
	margin:0;
	padding:0px 10px 0;
    list-style:none;
}
#activity-left {
	float: left;
	text-align: center;	
	width: 50%;		
}
#activity-right {
	float: left;
    /*width: 400px; */
	text-align: center;
	width: 49%;		
}
#activity-messages {
	clear:both;
	padding-top: 10px;
}
#activity-messages textarea {
	font-size: 0.75em;
}
.activity-message {
	padding: 5px;
	font-size: 0.75em;
}
.activity-message-header {
	border-bottom: 1px #ccc solid;
}

.highlight {
	font-weight: bold;
	color: #4B79AC;	
}
.ready {
	color: #92ac4b;	
}
.gone {
	color: #ac7f4b;	
}
.unknown {
	color: #ac4ba2;	
}
.align-right {
	text-align: right;	
}
#footer {
	clear:both;
	height: 20px;
	font-size: 0.875em;
	background-color: #ebebeb; 
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {
	color: #db6d16;
}

div.list-friends ul {
      margin:0;
      padding:0;
      list-style-type:none;	
}
div.list-friends li {
      margin:0;
      padding:3px;
}

    div.search-users {
      position:absolute;
      width:225px;
      background-color:#fff;
      margin:0px;
      padding:0px;
    }
	div.search-users ul {
      border:0px solid #888;
      margin:0;
      padding:0;
      width:100%;
      list-style-type:none;
	}
    div.search-users ul li {
      margin:0;
      padding:3px;
    }
.email {
		font-size: 0.875em;	
	}

textarea#activityMessage {
        width: 440px;
        height: 60px;
}




/*Nya till�gg */

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}

div .error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

