#{extends 'main.html' /}
#{set title:'Home' /}

<div class="start-header">
    <h1>Ny aktivitet</h1>
</div>
<div class="add-activity-form">
#{form @save()}
  <h1>Detaljer</h1>
<table class="form-table" id="table-left" cellspacing="0">  
<tr class="">
    <td> 
       <label>Aktivitet:</label>
    </td>
    <td>         
    #{field 'name'}
         <input class="input-onBlur" type="text" id="${field.id}" name="${field.name}" value="${field.value}" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'">
    #{/field}
    </td>
    </tr>
    <tr>
    <td> 
       <label>Plats:</label>
    </td>
    <td>
    #{field 'location'} 
         <input class="input-onBlur" type="text" id="${field.id}" name="${field.name}" value="${field.value}" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'"/>
   #{/field}
    </td>
    </tr>
    <tr>
    <td> 
       <label>Tidpunkt:</label>
    </td>
    <td>
    #{field 'date'} 
         <input class="input-onBlur" type="text" id="${field.id}" name="${field.name}" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'"/>
    #{/field} 
    </td>
    </tr>
    <tr>
    <td> 
       <label>Information:</label>
    </td>
    <td>
    #{field 'information'} 
         <textarea class="input-onBlur" type="text" id="${field.id}" name="${field.name}" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'"></textarea>
    #{/field} 
    </td>
    </tr>
  <tr><td> 
        <input type="submit" value="Skicka" />
</td></tr> 
  
  
#{/form} 

</div>

<script type="text/javascript"> 
        $.datepicker.setDefaults($.datepicker.regional['sv']);
        $(function() { 
                $('#date').datetimepicker({ 
                        inline: true, 
                        dateFormat: 'yy-mm-dd', 
                        gotoCurrent: true,
                        timeOnlyTitle: 'VŠlj tid',
                        timeText: 'Klockan',
                        hourText: 'Timme',
                        minuteText: 'Minut',
                        secondText: 'Sekund',
                        millisecText: 'Millisekund',
                        currentText: 'Nu',
                        closeText: 'Klar'
                }); 
        }); 
</script> 



