#{extends 'main.html' /}
#{set title:'Klarlistan' /}

<div class="start-header">
<h1>Ange emailadress så skickar vi lösenordet till dig</h1>
</div>

<div id="signup-form" class="signup-form">
   
   #{if flash.error}
    <p class="error">${flash.error}</p>
    #{/if}
    
#{form @Application.sendForgotPasswordMail()}

    <table class="form-table">
        <tr>
            <td> <label for="email">Email</label> </td>
            <td><input class="input-onBlur" type="text" name="email" id="email" onBlur="this.className='input-onBlur'" onFocus="this.className='input-onFocus'" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="submit"><input type="submit" id="signin" value="Skicka" /></td>
        </tr>

    </table>

#{/form}
</div>
