<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/klarlistan.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
        #{script src:"jquery-1.5.2.min.js" /}
        #{script src:"jquery.tools.min.js" /}
    </head>
    <body id="start">
        <div id="container">
         <div id="padding">
        
        </div>
        <div id="wrapper">
           <div id="header">
            <div id="logo">
               <img src=@{'/public/images/klarmenu.png'} alt="Klarlistan" />
            </div>
        
        <div id="top-navigation">
    
		    #{if session.username }
		        #{show_logged_in_nav_bar /}
		    #{/if}
		    #{else}
		        #{show_not_logged_in_nav_bar /}
		    #{/else}
        
    
        </div>
        
        <div id="content">
            #{doLayout /} 
        </div>
        
        <div id="footer">
    
        </div>
        
    </body>
</html>
