<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/klarlistan.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.ico'}" />
        <link type="text/css" href="@{'/public/javascripts/jquery-ui-1.8.16.custom/css/smoothness/jquery-ui-1.8.16.custom.css'}" rel="Stylesheet" />  
        <script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.16.custom/js/jquery-1.6.2.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery-ui-timepicker-addon.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.ui.datepicker-sv.js'}"></script>
    </head>
   
    <body id="start">
        <div id="container">
        <div id="padding">
        
        </div>
        <div id="wrapper">
           <div id="header">
            <div id="logo">
               <img src=@{'/public/images/klarmenu.png'} alt="Klarlistan" />
            </div>
        
        <div id="top-navigation">
    
		    #{if session.username }
		        #{show_logged_in_nav_bar /}
		    #{/if}
		    #{else}
		        #{show_not_logged_in_nav_bar /}
		    #{/else}
        
        </div>
        
        <div id="content">
            #{doLayout /} 
        </div>
        
        <div id="footer">
    
        </div>
        </div>
        </div>
    </body>
    
</html>
